@import 'src/colours';

.star, .star-with-content {
  height: 0.5vmin;
  width: 0.5vmin;
  transform: rotate(45deg);
  border-radius: 25%;
}

.star {
  background-color: $colour-3;
}

.star-with-content {
  background-color: $colour-4;
}
